@font-face {
    font-family: Arimo;
    src: local("../fonts/arimo-v12-latin-regular.eot");
    src: local("../fonts/arimo-v12-latin-regular.svg");
    src: local("../fonts/arimo-v12-latin-regular.ttf");
    src: local("../fonts/arimo-v12-latin-regular.woff");
    src: local("../fonts/arimo-v12-latin-regular.woff2");
}

body {
    font-family: Arimo, sans-serif;
}

p {
    color: #484848;
}

.priceTable {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    background-color: #fafafa;
    border-top: 24px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 32px solid #3a4965;
    border-left: 22px solid #3a4965;
}

.priceTable .bord {
    border-right: 2px solid rgba(112, 112, 112, .2);
}

.bord:last-child {
    border-right: none;
}

.plan {
    width: 310px;
}

.headerFirst {
    position: relative;
    top: 25px;
    font-size: 18px;
    font-weight: bold;
}

.pricingPlan {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.thColor {
    color: #ffffff;
}

.standard {
    width: 277px;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 22px;
    background-color: #89c331;
}

.ultimate {
    width: 279px;
    font-size: 30px;
    background-color: #f04a56;
}

.premium {
    color: #fff;
    width: 277px;
    font-size: 24px;
    background-color: #20807c;
}

.enormousPrice {
    position: relative;
    left: 15px;
    font-size: 60px;
    font-weight: bold;
    padding-top: 13px;
    padding-bottom: 13px;
}

.topPrice {
    font-size: 24px;
    position: relative;
    top: -5px;
}

.bottomText {
    position: relative;
    left: -30px;
    font-size: 18px;
    font-weight: 400;
}

.grey {
    background-color: #f2f2f2;
}

.simpleText {
    padding-top: 22px;
    padding-bottom: 23px;
}

.fas,
.far {
    color: #848484;
    position: relative;
    top: 2px;
    padding-right: 10px;
    font-size: 24px;
}

.darkGrey {
    background-color: #e3e3e3;
}

.footer-darkest-bg {
    background-color: #ddd;
}

.button {
    display: block;
    width: 192px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 19px 0 10px 0;
    transition: .4s;
}

.footerBG {
    padding: 32px 59px 29px 59px;
    background-color: #dddddd;
}

.footer {
    padding: 32px 42px 29px 43px;
}

.button:hover {
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, .5);
}

.contactUs {
    background-color: #484848;
    border-bottom: 9px solid #404040;
}

.button.standard {
    border-bottom: 9px solid #79b027;
}


.button.ultimate {
    border-bottom: 9px solid #df3a46;
}

.button.premium {
    border-bottom: 9px solid #16736f;
}
