body {
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

.intro {
    margin: 0 auto;
    align-items: center;
    max-width: 1920px;
    height: 1012px;
    background: url("../img/Sections background/section-1(header).jpg") fixed;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: rgba(73, 71, 63, .6);
}

.logo {
    display: flex;
    align-items: center;
    height: 67px;
    flex-wrap: wrap;
}

.logo-H {
    line-height: 31px;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;

}

.logo-hexagon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 34px;
    background-color: #18cfab;
}

.logo-hexagon::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    border-top: 18px solid #18cfab;
}

.logo-hexagon::after {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    border-bottom: 18px solid #18cfab;
}

.logo-the {
    color: #ffffff;
    font-size: 31px;
    margin-left: 8px;
}

.logo-ham {
    color: #18CFAB;
    font-weight: 700;
    font-size: 31px;
}

.menu-link {
    transition: .4s;
    position: relative;
    margin-right: 17px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #b8b8b8;
}

.menu-link:hover {
    color: #18CFAB;

}

.menu-link:hover:after {
    opacity: 1;
}

.menu-link::after {
    transition: .4s;
    background-color: #18CFAB;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 65px;
    right: 0;
    opacity: 0;
}


.navbar-links {
    display: flex;
    align-items: center;
}

.header-captions {
    text-align: center;
}

.top-caption {
    margin-top: 246px;
    font-weight: 700;
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
}

.span-another-color {
    color: #18cfab;
}

.mid-caption {
    margin-top: 45px;
    margin-bottom: 37px;
    font-size: 78.5px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.bot-caption {
    font-size: 34px;
    font-weight: 300;
    color: #d4d4d4;
}

.header-btns {
    margin-top: 146px;
    display: flex;
    justify-content: center;
}

.header-btn {
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 61px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
    background-color: #18cfab;
    box-shadow: 0 -4px 0 0 rgba(255, 255, 255, 1);

}

.purchase-btn {
    background-color: #00cbf6;
    margin-left: 28px;
}

.rectangles-benefits {
    margin: 0 auto;
    display: flex;
    max-width: 1920px;


}

.benefit-dark-light {
    text-align: center;
    padding: 88px 0 120px;
    /*height: 367px;*/
    width: 25%;
    box-sizing: border-box;
}

.benefit-dark {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}

.benefit-light {
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
}

.wrapper-benefit-icon {
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-caption {
    margin-top: 48px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.benefit-caption--topaz {
    color: #18CFAB;
}

.tabs-our-services {
    margin: 0 auto;
    text-align: center;
    max-width: 1920px;
    background-color: #ffffff;
}

.repeat-caption {
    position: relative;
    text-transform: capitalize;
    font-size: 36px;
}

.repeat-caption::before {
    content: '';
    width: 76px;
    height: 1px;
    position: absolute;
    bottom: -41px;
    right: calc(50% - 50px);
    background-color: #18cfab;
}

.repeat-caption::after {
    content: '';
    width: 76px;
    height: 1px;
    position: absolute;
    bottom: -37px;
    right: calc(50% - 38px);
    background-color: #18cfab;
}

.our-service-caption {
    margin-top: 82px;
    margin-bottom: 112px;
    color: #4e4e4e;
}

.navbar-tabs {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.tabs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 73px;
    box-sizing: border-box;
    border: 1px solid #eeeeef;
    background-color: #f8fcfe;
    color: #717171;
    text-transform: capitalize;
    font-size: 15.5px;
    transition: .1s ease-in;
    position: relative;
    cursor: pointer;
    outline: none;
    font-family: inherit;

}

.tabs-btn:hover {
    border-color: #18CFAB;
    color: #18cfab;
}

.tabs-btn.active {
    background-color: #18CFAB;
    border-color: #18cfab;
    color: #ffffff;
}

.tabs-btn.active::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab;

}

.service-pic {
    overflow: hidden;
    margin-top: 24px;
    width: 194px;
    height: 139px;
    animation: show-amazing-pic 1s;
}

.tab-text-content {
    margin-top: 25px;
    margin-left: 20px;
    line-height: 24.5px;
    vertical-align: top;
    text-align: justify;
    width: 944px;
    height: 136px;
    font-size: 13.5px;
    font-weight: 300;
    color: #777777;
    animation: show-amazing-pic 2s;
}

#tab1 > .service-pic {
    background: url("../img/service-pics/1.jpg") 0 -5px;
    background-size: cover;
}

#tab2 > .service-pic {
    background: url("../img/service-pics/2.png");
    background-size: cover;
}

#tab3 > .service-pic {
    background: url("../img/service-pics/3.jpg")  -30px;
    background-size: cover;
}

#tab4 > .service-pic {
    background: url("../img/service-pics/4.png");
    background-size: cover;
}

#tab5 > .service-pic {
    background: url("../img/service-pics/5.png")-50px;
    background-size: cover;
}

#tab6 > .service-pic {
    background: url("../img/service-pics/6.png") -20px;
    background-size: cover;
}
.service-pic {
    width: 194px;
    height: 139px;
}

.service-description {
    display: none;
    margin-bottom: 105px;
}

.service-description.active {
    display: flex;
}

.everything-is-ready {
    margin: 0 auto;
    max-width: 1920px;
    min-height: 474px;
    background: url("../img/Sections background/section-2.jpg") 0 -360px;

}


.top-head-caption {
    margin-top: 126px;
    font-size: 40.5px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;

}

.smooth-bot-caption {
    color: #d8d8d8;
    font-size: 16px;
    margin-top: 35px;
}

.purchase-now-btn {
    margin-top: 76px;

}

.section-sharp-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 474px;
    background-color: rgba(0, 0, 0, .78);
}

.amazing-work {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8fcfe;
}

.amazing-work-caption {
    margin-top: 97px;
}

.filter-items {
    display: flex;
}

.filter-menu {
    margin-top: 101px;

}

.filter-tabs {
    display: block;
    padding: 20px;
    border: 1px solid #ebebeb;
    text-transform: capitalize;
    color: #717171;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.filter-tabs:first-child {
    padding: 20px 29px 20px 29px;
}

.filter-tabs::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.filter-tabs:hover::after {
    opacity: 1;

}

.filter-tabs:hover {
    color: #18cfab;
}

.filter-tabs.active {
    color: #18cfab;

}

.filter-tabs.active::after {
    opacity: 1;
}

.amazing-pics {
    margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.amazing-pics-item {
    position: relative;
    transition: hover 2s;
    animation: show-amazing-pic 1s;
}

.amazing-pics-item:hover .hover-overlay {
    opacity: 1;
}

.amazing-pics-item img {
    display: block;

}

.btn-load-more {
    margin-bottom: 100px;
    margin-top: 100px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 0 26px;
    height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
    background-color: #18cfab;
    border: none;
    outline: none;
    font-family: inherit;
}

.plus-span {
    font-family: inherit;
    margin-right: 16px;
    font-size: 25px;
}

.hover-overlay {
    transition: .5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f8fcfe;
}

.hover-overlay::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #18cfab;
    position: absolute;


}

.overlay-icons {
    margin-top: 47px;
    display: flex;
    justify-content: center;
}

.share-icon-cyrcle:hover {
    color: #ffffff;
    background-color: #18cfab;
}

.search-icon-cyrcle:hover {
    color: #ffffff;
    background-color: #18cfab;
}

.search-icon-cyrcle, .share-icon-cyrcle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #18cfab;
    font-size: 12px;
}

.share-icon-cyrcle {
    margin-right: 5px;
}


.overlay-top-caption {
    margin-top: 30px;
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: 700;
    color: #18cfab;
    text-transform: uppercase;
}

.overlay-bot-caption {
    margin-bottom: 52px;
    font-size: 12px;
    color: #8a8a8a;
    font-weight: 300;
    text-transform: capitalize;
}

.breaking-news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-top: 1px solid #e1e1e1;
}

.breaking-news-caption {
    display: block;
    margin-top: 84px;
    margin-bottom: 104px;

}

.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.breaking-news-post {
    position: relative;
    margin-bottom: 45px;
    width: 263px;
    height: 280px;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    cursor: pointer;

}

.breaking-news-post:hover .news-post-date {
    background-color: #18CFAB;

}

.breaking-news-post:hover .news-post-caption {
    color: #18CFAB;

}

.news-post-date {
    transition: .4s;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
}

.news-post-caption {
    transition: .5s;
    font-size: 17.5px;
    font-weight: 700;
    margin: 16px 0 6px 16px;
    color: #717171;
}

.news-comment {
    font-size: 13.5px;
    font-weight: 300;
    margin-left: 19px;
    color: #777777;

}

.news-comment-separator {
    font-size: 13.5px;
    font-weight: 300;
    margin-left: 20px;
    color: #777777;

}

.feedback-section {
    max-width: 1920px;
    min-height: 852px;
    margin: 0 auto;
    background: url("../img/Sections background/section-3.jpg") no-repeat 0 70%;

}

.feedback-container {
    margin-top: 43px;

}

.feedback-sharp-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
    max-width: 100%;
    min-height: 852px;

}

.feedback-caption {

    margin-top: 99px;
    margin-bottom: 105px;
    color: #ffffff;
}

.feedback-text {
    color: #bbbbbb;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.feedback-user-name {
    margin-top: 30px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.feedback-user-position {
    margin-top: 15px;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
}

.user-active-top {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 37px auto 0;
    overflow: hidden;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: rgba(24, 207, 171, .3) 0 0 0 10px;
}

.user {
    margin-left: 75px;
    padding: 20px 0px;
    outline: 0;
    cursor: pointer;
}
.users-slider-wrapper {
    margin: 0 auto;
    max-width: 377px;
}





.slick-current.slick-active.slick-active > .user-size {
    margin-top: -15px;
    border: 2px solid #18cfab;
}


.slider-bot {
    margin-top: 50px;
}

@keyframes show-amazing-pic {
    0% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    translateX(- 50 px)
    }
}

.user-size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 1px solid rgba(24, 207, 171, .3);
    box-shadow: rgba(24, 207, 171, .3) 0 0 0 4px;
    overflow: hidden;

}

.slider-arrow {
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    line-height: 0.6;
    padding: 0 7px 5px 7px

}


.left-slide {
    left: 38%;
    bottom: 90px;
}

.right-slide {
    right: 38%;
    bottom: 90px;
}

.slider-arrow:hover {
    background-color: #18CFAB;
}

.best-image-caption {
    margin-top: 98px;
    margin-bottom: 106px;
    text-align: center;
}

.footer {
    margin: 0 auto;
    color: #aeaeae;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    min-height: 108px;
    background-color: #22353f;
}

.slide {
    text-align: center;
    padding-bottom: 20px;
}



.double-comas {
    margin-bottom: 40px;
}

.loader {
    align-items: center;
    height: 60px;
    margin: 100px auto;
    display: none;
}


.dash {
    margin: 0 10px;
    width: 20px;
    height: 10px;
    border-radius: 8px;
    background: #18cfab;
    box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
    margin-right: -13px;
    transform-origin: center left;
    animation: spin 2s linear infinite;
}

.dos {
    transform-origin: center right;
    animation: spin2 2s linear infinite;
    animation-delay: .25s;
}

.tres {
    transform-origin: center right;
    animation: spin3 2s linear infinite;
    animation-delay: .35s;
}

.cuatro {
    transform-origin: center right;
    animation: spin4 2s linear infinite;
    animation-delay: .4s;
}

@keyframes spin {

    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}




