body {
    font-family: Verdana, sans-serif;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

.headMenu {
    padding-top: 19px;
    width: 100%;
    height: 54px;
    background-color: rgba(0, 0, 0, 0.41);
}

.clearfix {
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.journey {
    float: left;
    margin-left: 5.9%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1;
    transition: .4s;
}

.journey:hover {
    color: #3cb878;
}

.sprite {
    background: url('../img/css_sprites.png') no-repeat;
}

.icontop {
    float: right;
}

.sprite.calendar {
    width: 19px;
    height: 19px;
    background-position: -90px -86px;
}

.sprite.calendar:hover {
    background-position: -146px -10px;
}


.sprite.forum {
    width: 28px;
    height: 20px;
    background-position: -10px -10px;
    margin-left: 2%;
    margin-right: 2%;
}

.sprite.forum:hover {
    background-position: -58px -10px;
}

.sprite.compass {
    width: 20px;
    height: 20px;
    background-position: -10px -86px;
    margin-right: 1.8%;
}

.sprite.compass:hover {
    background-position: -50px -86px;
}

.headertext {
    float: right;
    margin-right: 5.5%;
    text-transform: capitalize;
    font-size: 14px;
    color: #ffffff;
    padding-left: 1.8%;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 1.5;
}

.login {
    color: #3cb878;
    transition: .2s;
}

.login:hover {
    border-bottom: #3cb878 solid 1px;
}

.or {
    text-transform: lowercase;
}

.main {
    transform: translateY(calc(50vh - 56%));
    position: relative;
    margin: 0 auto;
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    border-radius: 10px;
}

.greensquare {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    top: 29px;
}

.loginContainer {
    padding: 27px 59px 0 60px;
}

.formContent {
    padding: 36px 1px 0 2px;
}


.signUpForm {
    float: left;
    font-size: 20px;
    color: #434343;
    text-transform: capitalize;
}

.loginForm {
    float: right;
    margin-top: 4px;
    font-size: 14px;
    color: #3cb878;
    text-transform: capitalize;
    transition: .2s;
}

.loginForm:hover {
    border-bottom: 1px solid #3cb878;
}


.sprite.iconFacebook {
    margin: 13px 17px 13px 20px;
    width: 10px;
    height: 20px;
    background-position: -146px -49px;
    display: inline-block;
}

.sprite.iconGoogle {
    margin: 15px 9px 15px 13px;
    width: 25px;
    height: 16px;
    background-position: -10px -50px;
    display: inline-block;
}

.buttonFacebook {
    float: left;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #305db8;
    transition: .4s;
}

.buttonFacebook:hover {
    background-color: #264b96;
}

.buttonGoogle {
    margin-left: 8px;
    float: left;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #df4a32;
    transition: .4s;
    margin-bottom: 33px;
}

.buttonGoogle:hover {
    background-color: #c3412c;
}

.facebooktext {
    margin: 9px 16px 9px 0;
    float: right;
    color: #ffffff;
    font-size: 16px;
    border-left: 1px solid #224387;
    text-transform: capitalize;
    padding-left: 16px;
    line-height: 1.75;
}

.googletext {
    margin: 9px 29px 9px 0;
    float: right;
    color: #ffffff;
    font-size: 16px;
    border-left: 1px solid #af3a28;
    text-transform: capitalize;
    padding-left: 24px;
    line-height: 1.75;
}

.orForm {
    display: block;
    font-size: 14px;
    color: #848484;
    text-align: center;
    line-height: 0.5;
}

.orForm:before {
    content: "";
    display: inline-block;
    width: 134px;
    height: 1px;
    background-color: #eaeaea;
    margin-right: 18px;
    margin-bottom: 3px;
}

.orForm:after {
    content: "";
    display: inline-block;
    width: 134px;
    height: 1px;
    background-color: #eaeaea;
    margin-bottom: 3px;
    margin-left: 19px;
}

.textForm[type=text], [type=email], [type=password] {
    margin-top: 9px;
    box-sizing: border-box;
    width: 100%;
    padding: 11px 14px 12px 17px;
    font-size: 14px;
    line-height: 1;
    border-radius: 3px;
    border: 1px solid #eaeaea;
}

::-webkit-input-placeholder {
    color: #bebebe;
    font: 14px Verdana, sans-serif;
    line-height: 1.5;
}

.textForm[placeholder] {
    color: #434343;
    font: 14px Verdana, sans-serif;
    line-height: 1.5;

}

.textForm:focus {
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

#firstName {
    margin-top: 18px;
    margin-bottom: 8px;

}


.our {
    text-transform: lowercase;

}

.Terms {
    color: #3cb878;
    transition: .2s;
}

.Terms:hover {
    border-bottom: 1px solid #3cb878;
}

.checkboxWhole {
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    color: #434343;
}

.checkboxTrue {
    position: absolute;
    height: 0;
    widows: 0;
    opacity: 0;
}

.checkboxtext {
    position: relative;
    top: 19px;
    margin-left: 29px;
    line-height: 1;
}

.checkboxtext:before {
    position: absolute;
    left: -28px;
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.checkboxTrue:checked ~ .checkboxtext:after {
    position: absolute;
    left: -28px;
    content: "";
    width: 18px;
    height: 18px;
    background: url('../img/css_sprites.png') -143px -84px;


}

.createAccount {
    margin-top: 48px;
    cursor: pointer;
    font: 16px Verdana, sans-serif;
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 3px;
}

.createAccount:hover {
    background-color: #329a65;
    transition: .4s;
}

