html {
    overflow: hidden;
}
body {
    font-family: 'Open Sans Regular', sans-serif;
    overflow-x: hidden;
    transform-style: preserve-3d;
    overflow-y: auto;
    height: 100vh;
    perspective: 1px;

}
@media screen and (max-width: 1218px) {
    .Column3 {
        display: flex;
    }

}

@media screen and (max-width: 817px) {
    .Column3 {
        display: flex;
        flex-direction: column;
    }
}

.TopMenu {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #1d2124;
}

.search {
    color: #fff;
    padding: 26px;
    background-color: #171a1c;
}

.logo {
    margin-left: 21px;
    display: flex;
    align-items: center;

}

.LogoText {
    margin-left: 27px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.NavBarItem {
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 37px;
}

.firstItem {
    margin-left: 0;
}
.HeaderParallax {
    display: flex;
    height: 387px;
    width: 100vw;
    transform-style: preserve-3d;
}

.HeaderParallax:before {
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url("../img/header-bg.jpeg") 0 -450px;
    position: absolute;
    z-index: -2;
    transform: translateZ(-1px) scale(2);
}

.HeaderParallax:after {
    content: '';
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
    transform: translateZ(-3px) scale(4);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
}

.SecondBgParallax {
    height: 588px;
    width: 100vw;
    transform-style: preserve-3d;
}

.SecondBgParallax:before {
    content: '';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url("../img/parallax-bg.jpeg");
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}
.SecondBgParallax:after {
    content: '';
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
    transform: translateZ(-1px) scale(2);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.TheLatestNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.TheLatestNewsText {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 44px;
}

.subscribe {
    background-color: #89ca62;
    padding: 20px 21px;
}

.articles {
    background-color: #14b9d5;
    padding: 20px 32px;
    margin-left: 20px;

}

.but {
    display: block;
    text-transform: capitalize;
    color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.buttons {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.MostPopular {
    position: relative;
    z-index: 2;
    background-color: #f2f2f2;
    width: 100%;
}

.PopularPoster {
    margin-bottom: 32px;
    background-color: #ffffff;
    max-width: 370px;
}
.HotNews {
    position: relative;
}
.postText {
    padding: 21px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #353a3d;
}

.postsMost {
    padding: 15px 0 15px 0;
    margin: 0 auto;
    max-width: calc(370px * 3 + 30px * 2);
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.textContPost {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.textCont {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #ffffff;
}

.MostPopularText {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18b4cf;
    margin: 61px 0 37px 0;

}

.OurClientsText {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    grid-column: 3/8;
    grid-row-start: 4;
}

.line {
    min-width: 60px;
    max-width: 100px;
    height: 3px;
    background-color: #169cb4;
    grid-row: 5/7;
    grid-column: 1/10;
    justify-self: center;
    align-self: center;
}

.Clients {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    justify-content: center;
}

.brand1 {
    grid-row: 7/7;
    grid-column: 2/5;
    justify-self: center;
}

.brand2 {
    grid-row-start: 7;
    grid-column: 4/6;
    justify-self: center;
}

.brand3 {
    grid-row-start: 7;
    grid-column: 6/7;
}

.brand4 {
    grid-row-start: 7;
    grid-column: 7/9;
    justify-self: center;
}

.RatesCards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    height: 190px;
    width: 100%;
}

.NewsGridBg {
    position: relative;
    background-color: #fff;
}

.NewsGrid {
    z-index: 2;
    display: grid;
    max-width: 1168px;
    margin: 0 auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 43px;

}


.NewsFirstLast {
    width: 856px;
    height: 259px;
}

.NewsSmall {
    width: 277px;
    height: 208px;
}

.NewsMiddle {
    width: 554px;
    height: 418px;

}

.TextNews {
    font-size: 14px;
    text-align: right;
    color: #5b6469;
    line-height: 1.5;
    font-weight: 600;
}

.HeadNews {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #353a3d;
}

.NewsGridTop {
    height: 259px;
    margin: 0 auto;
    display: grid;
    grid-template: auto/auto auto;
    grid-column-gap: 35px;
}

.NewsTextCont {
    background-color: #f9f7f7;
    display: grid;
}

.HeadNews1 {
    margin: 31px 24px 22px 21px;
}

.TextNews1 {
    margin: 0 24px 20px 21px;

}

.News1 {
    width: 856px;
    height: 259px;
    display: grid;
    grid-template: auto/auto auto;
}

.News2 {
    display: grid;
    grid-template-rows: auto auto;
    justify-self: right;
    background-color: #f9f7f7;
}

.HeadNews2, .HeadNews7 {
    justify-self: center;

}

.NewsGridMiddle {
    grid-row-gap: 43px;
    grid-column-gap: 60px;
    display: grid;
    grid-template: auto auto/auto auto;
}

.News3 {
    width: 554px;
}

.News4 {
    grid-column-end: 3;
}

.HeadNewsMid {
    text-align: right;
    margin: 20px 20px 21px;
}

.TextNewsMid {
   padding: 0 20px 15px 8px;
}

.NewsGridBot {
    margin-bottom: 71px;
    display: grid;
    grid-template: auto/auto auto;
    grid-column-gap: 35px;
}

footer {
    display: grid;
    height: 80px;
    background-color: #1d2124;
    width: 100%;
}

.FootCont {
    margin: 0 auto;
    justify-content: space-between;
    width: 1168px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.copy {
    color: #fff;
    font-size: 13px;
}

.footerLogo {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;

}