body {
    font-family: Verdana, sans-serif;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
}

header {
    width: 1064px;
    height: 44px;
    margin: 49px auto 0 auto;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.logopic {
    float: left;
}
.logopic img{
    position: absolute;
    bottom: 0;

}

.logopicHover {
    float: left;
    opacity: 0;
}
.logopicHover img {
    position: absolute;
    bottom: 0;
}
.logo {
    float: left;
    position: relative;
}
.logo a:hover .logotxt {
    color: #f26522;
}
.logo a:hover .logopicHover {
    opacity: 1;
}
.logo a:hover .logopic {
    opacity: 0;
}

.logo a {
    text-transform: uppercase;
    text-decoration: none;
}

.logotxt {
    float: left;
    margin-left: 61px;
    font-size: 29px;
    font-weight: bold;
    line-height: 0.72;
    color: #ffffff;
}

.milanlogo {
    display: block;
    font-size: 29px;
}

.holidayslogo {
    display: block;
    margin-top: 9px;
    font-size: 18px;
}

.contacts {
    margin-top: 2px;
    line-height: 1.17;
    color: #ffffff;
    width: 300px;
    float: right;
    text-align: right;
    font-size: 18px;
}
.email {
    line-height: 1.3;
}

.container {
    position: relative;
    margin: 45px auto 0 auto;
    width: 1065px;
    height: 593px;
}

.cards {
    float: left;
}

.pic {
    position: relative;
    width: 307px;
    height: 200px;
    box-shadow: 0 17px 24px 0 #000000;
    border: 2px solid transparent;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    overflow: hidden;
}

.picHover {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    left: -2px;
    width: 312px;
    height: 0;
    background-color: #f26522;
    transform: translate(.5);
    opacity: 0;
    transition: height .1s cubic-bezier(0, 0, 1, 1);
}

.wholecard:hover .picHover {
    opacity: 1;
    height: 63px;
}
.wholecard:hover .cardname {
    color: #f26522;
}

.from {
    margin: 14px auto auto 21px;
    font-size: 10px;

}

.euro {
    margin: 2px auto auto 21px;
    display: inline-block;
    font-size: 20px;
}

.details {
    display: inline-block;
    margin-left: 103px;
    text-transform: capitalize;
}
.arrow {
    opacity: 0.5;
    margin: 0 8px auto 10px;
}
.card1 {
    clear: both;
    margin-right: 66px;
}

.card2 {
    margin-right: 66px;
}

.card4 {
    clear: both;
    margin: 57px 66px auto auto;
}

.card5 {
    margin: 57px 66px auto auto;
}

.card6 {
    margin-top: 57px;
}

.cardname {
    position: relative;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 17px;
    z-index: 1000;
}

.copyright {
    font-size: 12px;
    line-height: 1.75;
    text-align: center;
    width: 100%;
    color: #ffffff;
}


