@font-face {
    font-family: "myriad-pro";
    src: url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: "Myriad Pro", sans-serif;
}
.all {
    width: 1280px;
    margin: 0 auto;
}
.logoinside {
    margin: 61px auto 45px auto;
}

.logo {
    text-decoration: none;
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    margin-left: 1px;


}

.logo .endlogo {
    color: #4bcaff;
}

.navigation {
    text-align: center;
    background-color: #35444f;
}


.headerbuttons {
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    padding: 22px 41px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
}

.headerbuttons:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}


.leftmenu {
    margin-top: 51px;
    width: 344px;
    display: inline-block;
    border: 1px solid #32424e;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
}


.leftbuttons {
    display: block;
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    text-transform: capitalize;
    padding: 26px 44px;
}

.leftmenu .leftbuttons:hover {
    background-color: #dcdcdc;
    color: #000000;
    transform: scaleY(1.0003);
    padding-left: 69px;

}
.content {
    width: 885px;
    margin-left: 50px;
    margin-top: 51px;
    display: inline-block;
    box-sizing: border-box;
}
.picture {
    width: 885px;
    height: 529px;

    text-align: center;
    border: 1px solid #32424e;
    overflow: hidden;
}

.pic {
    padding: 73px 0;
    transition: transform .8s;
}

.pic:hover {
    transform: scale(1.3);

}

.text {
    margin: 50px 30px;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;

}

.footerbuttons {
    display: inline-block;
    padding: 24px 13px;
    text-decoration: none;
    font-size: 28px;
    color: #0c1927;
    text-transform: capitalize;
}

.text2 {
    margin-top: 30px;
}

.botmenu {
    margin-bottom: 30px;
    position: relative;
    width: 1280px;
    background-color: #b4b7ba;
}

.copy {
    position: absolute;
    right: 0;
    margin-right: 36px;
}


.footerbuttons:hover {
    text-decoration: underline;
    color: #3181a6;
}

#ramda {
    margin-left: 30px;
}
