body{
    font-family: "Myriad Pro", sans-serif;
}

.price-field {
    display: block;
    font-size: 30px;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;

}

#container {
    width: 460px;
    margin: 200px auto;
    display: block;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 37px 25px 84px -7px rgba(0,0,0,0.69);
}
#tooltip {
    visibility: hidden;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 5px;
}
#price-now {
    display: inline;
    font-size: 30px;

}
#uncorrect-value {
    margin-top: 10px;
    font-size: 30px;
    color: #ff2020;
    visibility: hidden;
}

#cross {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 2px 8px;
}