body, h1 {
    margin: 0 auto;
}

p {
    margin: 0;
}

div.header {
    margin: 0 auto;
    height: 80px;
    text-align: center;
    width: 1280px;
    border: 1px ridge #bfbfbf;
    border-bottom: 0;
}

.navigation {
    padding-top: 26px;
    height: 18px;
}

.navigation ul {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}


.navigation a {
    margin-right: 85px;
    font: 18px "Roboto", sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #16a085;
}


div.img {
    width: 1280px;
    height: 790px;
    margin: 0 auto;
    border-left: 1px ridge #bfbfbf;
    border-right: 1px ridge #bfbfbf;

}

.content {
    margin: 0 auto;
    background-color: #f5f6f7;
    width: 1280px;
    height: 650px;
    border-left: 1px ridge #bfbfbf;
    border-right: 1px ridge #bfbfbf;
}

h1 {
    padding-top: 56px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font: 22px Roboto, sans-serif;
    font-weight: 900;
    color: #373737;

}

div.content p {
    line-height: 26px !important;
    margin: 0 113px;
    text-align: center;
    letter-spacing: 1.5px;
    font: 16px Roboto, sans-serif;
    font-weight: 900;
    color: #373737;
}

p.p1 {
    padding: 34px 0;
}

.button {
    display: block;
    text-align: center;
    font: 12px Gotham Rounded, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    margin: 41px auto 94px;
    padding: 40px;
}

#getbutton {
    background-color: #16a085;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 44px;
}


div.footer {
    height: 108px;
    width: 1280px;
    margin: 0 auto;
    border: 1px ridge #bfbfbf;
    border-top: 0px;
}


div.footerleft {
    float: left;
    width: 50%
}


div.footerright {
    float: right;
    width: 50%;
}

.footerright p {
    margin-right: 104px;
    margin-top: 47px;
    letter-spacing: 1.5px;
    text-align: right;
    font: bold 16px Roboto, sans-serif;
    font-weight: 900;
    color: #373737;
}

.footer a {
    text-transform: uppercase;
    text-decoration: none;
    font: bold 18px Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #373737;
}


.footerleft {
    margin-left: 107px;
    margin-top: 40px;
    list-style: none;
    display: inline-block;
}

#credits {
    padding-right: 9px;
    border-right: 1px solid #16a085;
}

#privacy {
    margin-left: 6px;
    border-right: 1px solid #16a085;
    margin-right: 3px;
    padding-right: 6px;
}
