body, html
{
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
}
.Content {
    position: absolute;
    width: 100vw;
    height: 500vh;
    bottom: 0;
    left: 0;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(400px) rotateX(25deg);
}

.TextContent
{
    position: absolute;
    top: 100%;
    line-height: 1.5;
    animation: starwars 100s linear 1s infinite;
}
@keyframes starwars {
    0% { top: 100%; }
    100% { top: -170%; }
}